.nav-link {
    color: #ffffff !important;
    font-size: 18px !important;
}

.active {
    background-color: rgba(255, 218, 106, 0.4) !important;
}

.nav-item:hover {
    background-color: rgba(255, 218, 106, 0.4);
}

.btn-primary {
    background-color: #FFDA6A;
    border: #FFDA6A;
    color: #495057;
}

.btn-primary:disabled {
    background-color: #FFE69C;
    color: #6C757D;
}

.btn-primary:hover {
    background-color: #FFC107;
    border: #FFC107;
    color: #495057;
}

.btn-primary:active {
    background-color: #CC9A06;
    border: #CC9A06;
    color: #ffffff;
}

.btn-primary:focus {
    background-color: #CC9A06;
    border: #CC9A06;
    color: #ffffff;
}

/* .btn-primary:visited {
    background-color: #CC9A06;
    border: #CC9A06;
    color: #ffffff;
} */

/* Link .btn-primary:visited[role="button"] {
    background-color: #FFC107;
    border: #FFC107;
    color: #495057;
} */

.btn-secondary {
    background-color: #DEE2E6;
    border: #DEE2E6;
    color: #495057;
}

.btn-secondary:hover {
    background-color: #ADB5BD;
    border: #ADB5BD;
    color: #495057;
}

/* .btn-secondary:visited {
    background-color: #6C757D;
    border: #6C757D;
    color: #ffffff;
} */

.btn-danger {
    background-color: #E35D6A;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #dc3545;
    color: #ffffff;
}

.bg-gray {
    background-color: #F3F3F3;
}

.gray-500 {
    color: #ADB5BD;
}

.gray-600 {
    color: #6C757D;
}

.yellow-600 {
    color: #997404;
}

/* .table-hover {
    background-color: #FFF3CD;
} */

.table-hover tbody tr:hover td {
    --bs-table-accent-bg: #FFF3CD; 
}

.form-check-input:checked {
    color: #fff;
    border-color: #FFC107;
    background-color: #FFC107;
}

h7 {
    color: #6C757D;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 400;
}

a {
    color: #CC9A06;
    text-decoration: none;
}

a:hover {
    color: #997404;
}

.text-height-1 {
    line-height: 1em;
}

.accordion-button[aria-expanded="true"] {
    background-color: #FFF3CD;
    color: #997404;
}

.accordion-button[aria-expanded="true"]::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23997404'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.form-group.required .control-label:after { 
    color: #dc3545;
    content: " *";
}

textarea.textarea-autosize {
    height: auto;
    min-height: 20em;
    resize: vertical;
    overflow-y: hidden;
}

li.page-item a {
    color:#495057;
}

li.page-item a:hover {
    background-color: #FFDA6A;
    color:#495057;
}

li.hbar {
    border-top: 1px solid #6C757D;
}

li.page-item a[disabled] {
    color: #ADB5BD;
}

li.page-item a[disabled]:hover {
    background-color: #ffffff;
    color: #ADB5BD;
}

.img-icon {
    height: 20px;
    width: auto;
    max-height: 20px;
    vertical-align: center;
    margin-bottom: 1px;
    padding-bottom: 2px;
}

@media (max-width: 768px) {
    img.img-logo {
        display: block;
        width: 50%;
        max-width: 50%;
    }

    .sidebar {
        max-height: 50vh;
    }

    .extra-col {
        width: 0px;
        max-width: 0px;
    }

    .form-col {
        width: 100%;
        max-width: 100%;
    }

    .search-bar {
        width: 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    img.img-logo {
        display: flex;
        width: 100%;
        max-width: 100%;
    }

    .sidebar {
        min-height: 100vh;
    }

    .form-col {
        width: 75%;
        max-width: 75%;
    }

    .search-bar {
        width: 25%;
        max-width: 25%;
    }
}

.unassigned {
    color: #dc3545;
}

.extra-margin {
    margin-top: 50px;
}

.error {
    border: 1px solid #dc3545;
    background-color: #f8d7da;
}

.w-90 {
    width: 90%;
}

.input-icon {
    /* padding-left: 150px;
    margin-top: 7px;
    margin-right: 4px; */
    color: #dc3545;
}

.gigantic {
    font-size: 20em;
    line-height: 1.2em;
}

.big {
    font-size: 4em;
    line-height: 2em;
    font-weight: 600;
}

.gray {
    color: #F3F3F3;
}
 
.bg-red {
    background-color: #E35D6A;
    color: #ffffff;
}

.badge {
    font-size: 0.6em;
    font-weight: 500;
    vertical-align: text-top;
    margin-top: 2px;
}

#default-picker a {
    color: #CC9A06;
}

/* input[type="time"]:focus {
    background-color: #CC9A06;
} */

.datepicker-input::-webkit-calendar-picker-indicator {
    background-color: #FFC107;
}

.circle {
    width: 9px;
    height: 9px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 50%;
    display: inline-block;
    background-color:#FFC107;
    margin-bottom: 1px;
}

.dropdown-toggle:after {
    display: none !important;
}

.dropdown-menu {
    height: 240px;
    overflow-y: scroll;
}

.dropdown-menu button {
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #F3F3F3;
}

.dropdown-menu button:hover{
    background-color: #DEE2E6;
}