<div style="background-color: #F3F3F3; padding-top: 8%; padding-bottom: 8%; padding-left: 12%; padding-right: 12%; align-items: center;">
    <img src="../img/HT_Logo.png" style="align-self: center; text-align: center;"></img>
    <div style="background-color: #ffffff; padding: 10%; justify-content: center; align-items: center; margin-top: 16px;">
        <div style="text-align: left; margin-top: 0px; width: 100%;">
            <h3 style="font-family: Helvetica Neue; margin-top: 0px; color: #343A40; font-size: 1.6em;">Hi Kyra Chan,</h3>
            <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">Here is your student's information:</p>
            <div style="margin-top: 16px; width: 100%; display: flex;" class="row">
                <div class="column" style="margin-right: 10px;">
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">Name:</p>
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">Student ID:</p>
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">School:</p>
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">Route:</p>
                </div>
                <div class="column">
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">Student 2</p>
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">999</p>
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">West Campus</p>
                    <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">Hilly Route</p>
                </div>
            </div>
            <hr class="solid" style="border-top: 0.8px solid #6C757D; margin-top: 24px; margin-bottom: 16px;">
            <div style="margin-top: 40px;">
                <p style="font-family: Helvetica Neue; color: #6C757D; font-size: 1.2em;">Route Stop Options:</p>
                <table class="table table-striped" style="width: 100%; margin-top: 8px; font-size: 1.2em; font-family: 'Helvetica Neue'; color: #6C757D; border-collapse: collapse;">
                    <tr style="color: #343A40; height:48px; border-bottom: 1.2px solid #343A40;">
                        <th style="padding-left:16px; padding-right:16px;">Stop Name</th>
                        <th style="padding-left:16px; padding-right:16px;">Stop Location</th>
                        <th style="padding-left:16px; padding-right:16px;">Pickup Time</th>
                        <th style="padding-left:16px; padding-right:16px;">Dropoff Time</th>
                    </tr>
                    <tr style="background-color: #F3F3F3; height:48px; border-bottom: 0.8px solid #6C757D;">
                        <td style="padding-left:16px; padding-right:16px;">Bus Stop 1</td>
                        <td style="padding-left:16px; padding-right:16px;">8052 Alhambra</td>
                        <td style="padding-left:16px; padding-right:16px;">12:12:00</td>
                        <td style="padding-left:16px; padding-right:16px;">20:12:00</td>
                    </tr>
                    <tr style="height:48px; border-bottom: 0.8px solid #6C757D;">
                        <td style="padding-left:16px; padding-right:16px;">Bus Stop 2</td>
                        <td style="padding-left:16px; padding-right:16px;">8052 Alhambra</td>
                        <td style="padding-left:16px; padding-right:16px;">9:12:00</td>
                        <td style="padding-left:16px; padding-right:16px;">16:12:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>