<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'ht_buses_app/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'ht_buses_app/custom.css' %}">
        <script src="{% static 'ht_buses_app/bootstrap/js/bootstrap.min.js' %}"></script>
    </head>
    <body class="overflow-hidden">
        <div style="background-color: #DEE2E6">
            <div style="align-items: center;">
                <img src="../img/HT_Logo.png" style="align-self: center;"></img>
            </div>
            <h3>Hi Kyra Chan,</h6>
            <p>Your Hypothetical Transportation password can be reset by clicking the link below. If you did not request a new password, please ignore this email.</p>
            <button style="background-color: #FFC107; padding: 10px 20px; border-radius: 5px; border: none; font-family: Helvetica Neue;" href="http://localhost:3000/reset-password/Mg&b126ga-7c48eb6e2b600b476489f1084a6406d8">
                Reset My Password
            </button>
        </div>
    </body>
</html>