{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}

{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'ht_buses_app/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'ht_buses_app/custom.css' %}">
        <script src="{% static 'ht_buses_app/bootstrap/js/bootstrap.min.js' %}"></script>

        <title>Hypothetical Transportation Bus Management System</title>
    </head>
    <body class="overflow-hidden">
        <div class="container-fluid mx-0 px-0">
            <div class="row flex-nowrap">

                <!-- Sidebar Menu Nav -->

                <div class="col-auto col-md-3 col-xl-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start mx-0 px-0 pt-2 text-white min-vh-100">
                        <!-- HT Logo -->
                        <a href="/" class="d-flex align-items-center my-0 mx-2 px-4 pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <img src="{% static 'ht_buses_app/img/HT_Logo.png' %}" class="img-fluid float-start pt-4 pb-4 px-1" alt="Hypothetical Transportation">
                        </a>

                        <!-- Menu Links -->
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 w-100" id="menu">
                            <li class="nav-item">
                                <a href="/students" class="nav-link align-middle mx-4 px-4">
                                    {% bs_icon 'list-ul' %} <span class="ms-1 d-none d-sm-inline">Students</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/routes" class="nav-link px-0 align-middle mx-4 px-4">
                                    {% bs_icon 'geo-alt' %} <span class="ms-1 d-none d-sm-inline">Bus Routes</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/schools" class="nav-link px-0 align-middle mx-4 px-4">
                                    {% bs_icon 'building' %} <span class="ms-1 d-none d-sm-inline">Schools</span></a>
                            </li>
                            <li class="nav-item active">
                                <a href="/users" class="nav-link px-0 align-middle mx-4 px-4">
                                    {% bs_icon 'people' %} <span class="ms-1 d-none d-sm-inline">Manage Users</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Page contents -->

                <div class="col mx-0 px-0 bg-gray w-100">
                    <div class="container mx-0 mt-0 mb-0 px-4 pt-3 pb-0 bg-white mw-100 w-100 shadow-sm">
                        <div class="row align-self-center d-flex justify-content-between">
                            <div class="col-md-auto mx-2 py-2">
                                <div class="row d-flex align-middle">
                                    <div class="w-auto px-2 ps-3">
                                        <h5>Manage Users</h5>
                                    </div>
                                    <div class="w-auto px-2">
                                        {% bs_icon 'chevron-right' %}
                                    </div>
                                    <div class="w-auto px-2">
                                        <h5>Create User</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-auto mx-2 py-0 mr-4">
                                <h6 class="font-weight-bold mb-0">{sessionStorage.getItem('first_name')} {sessionStorage.getItem('last_name')}</h6>
                                <p class="text-muted text-small">Administrator</p>
                            </div>
                        </div>
                    </div>
                    <div class="container my-4 mx-0 w-100 mw-100">
                        <div class="container-fluid px-4 py-4 mt-4 mb-2 bg-white shadow-sm rounded align-content-start">
                            <div class="row">
                                <div class="col">
                                    <h5>Create New User</h5>
                                </div>
                            </div>
                            <form>
                                <div class="row">
                                    <div class="col mt-2">
                                        <div class="form-group required pb-3 w-75">
                                            <label for="exampleInputName1" class="control-label pb-2">Name</label>
                                            <input type="name" class="form-control pb-2" id="exampleInputName1"
                                                placeholder="Enter full name" required>
                                        </div>
                                        <div class="form-group required pb-3 w-75">
                                            <label for="exampleInputEmail1" class="control-label pb-2">Email</label>
                                            <input type="email" class="form-control pb-2" id="exampleInputEmail1" placeholder="Enter email" required>
                                            <small id="emailHelp" class="form-text text-muted pb-2">We'll never share your email with anyone
                                                else.</small>
                                        </div>
                                        <div class="form-group pb-3 w-75">
                                            <label for="exampleInputAddress1" class="control-label pb-2">Address</label>
                                            <input type="address" class="form-control pb-2" id="exampleInputAddress1" placeholder="Enter home address">
                                        </div>
                                        <div class="form-group required pb-3 w-75">
                                            <div>
                                                <label for="exampleInputType1" class="control-label pb-2">Type</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="administrator">
                                                <label class="form-check-label" for="inlineRadio1">Administrator</label>
                                              </div>
                                              <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="general">
                                                <label class="form-check-label" for="inlineRadio2">General</label>
                                              </div>
                                        </div>
                                        <div class="form-group required pb-3 w-75">
                                            <label for="exampleInputPassword1" class="control-label pb-2">Password</label>
                                            <input type="password" class="form-control pb-2" id="exampleInputPassword1" placeholder="Password" required>
                                        </div>
                                        <div class="form-group required pb-4 w-75">
                                            <label for="exampleInputPassword1" class="control-label pb-2">Confirm Password</label>
                                            <input type="password" class="form-control pb-2" id="exampleInputPassword1" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="col mt-2">
                                        <div class="form-group pb-3">
                                            <label for="exampleInputStudents" class="pb-2">Students</label>
                                            <div>
                                                <a class="btn px-0 py-1" data-bs-toggle="collapse" href="#accordionExample" role="button" aria-expanded="false" aria-controls="accordionExample">{% bs_icon 'plus-circle' %} Add a Student</a>

                                                <!-- <button type="button" class="btn">{% bs_icon 'plus-circle' %} Add a Student</button> -->

                                                <div class="collapse accordion mt-4" id="accordionExample">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingOne">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Student 1
                                                            </button>
                                                        </h2>
                                                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group required pb-3">
                                                                            <label for="exampleInputName1" class="control-label pb-2">Name</label>
                                                                            <input type="name" class="form-control pb-2" id="exampleInputName1"
                                                                                placeholder="Enter full name" required>
                                                                        </div>
                                                                        <div class="form-group pb-3">
                                                                            <label for="exampleInputID1" class="control-label pb-2">Student ID</label>
                                                                            <input type="id" class="form-control pb-2" id="exampleInputID1" placeholder="Enter student ID" required>
                                                                        </div>
                                                                        <div class="form-group required pb-3">
                                                                            <label for="exampleInputSchool1" class="control-label pb-2">School</label>
                                                                            <select class="form-select" placeholder="Select a School" aria-label="Select a School" required>
                                                                                <option selected>Select a School</option>
                                                                                <option value="1">One</option>
                                                                                <option value="2">Two</option>
                                                                                <option value="3">Three</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group pb-3">
                                                                            <label for="exampleInputRoute1" class="control-label pb-2">Route</label>
                                                                            <select class="form-select" placeholder="Select a Route" aria-label="Select a Route" required>
                                                                                <option selected>Select a Route</option>
                                                                                <option value="1">One</option>
                                                                                <option value="2">Two</option>
                                                                                <option value="3">Three</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="headingTwo">
                                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Student 2
                                                            </button>
                                                        </h2>
                                                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                            <div class="accordion-body">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group required pb-3">
                                                                            <label for="exampleInputName1" class="control-label pb-2">Name</label>
                                                                            <input type="name" class="form-control pb-2" id="exampleInputName1"
                                                                                placeholder="Enter full name">
                                                                        </div>
                                                                        <div class="form-group pb-3">
                                                                            <label for="exampleInputID1" class="control-label pb-2">Student ID</label>
                                                                            <input type="id" class="form-control pb-2" id="exampleInputID1" placeholder="Enter student ID">
                                                                        </div>
                                                                        <div class="form-group required pb-3">
                                                                            <label for="exampleInputSchool1" class="control-label pb-2">School</label>
                                                                            <select class="form-select" placeholder="Select a School" aria-label="Select a School">
                                                                                <option selected>Select a School</option>
                                                                                <option value="1">One</option>
                                                                                <option value="2">Two</option>
                                                                                <option value="3">Three</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group pb-3">
                                                                            <label for="exampleInputRoute1" class="control-label pb-2">Route</label>
                                                                            <select class="form-select" placeholder="Select a Route" aria-label="Select a Route">
                                                                                <option selected>Select a Route</option>
                                                                                <option value="1">One</option>
                                                                                <option value="2">Two</option>
                                                                                <option value="3">Three</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end mt-2 me-0">
                                        <button type="button" class="btn btn-secondary w-auto me-3 justify-content-end">Cancel</button>
                                        <button type="submit" class="btn btn-primary w-auto justify-content-end">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}